body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.div_form {
  margin-left: 25%;
  width: 40%;
  padding-top: 25px;
}

.form-header {
  font-size: 70px;
}

.contents-margin{
  margin-top: 110px;
}

.float-left {
  float: left;
}

.button--transparent{
  background: transparent;
  border: none;
}

.button--transparent:hover  {
  color: blue;
}

.input--select {
  display: block;
  width: auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit {
  float: right;
  margin-right: 20px;
}

.submit button {
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  font-size: 20px;
}

.deleteform {
  margin: 170px 35%;
  width: 30%;
  height: 150px;
  text-align: center;
}

.deleteform--button {
  margin: 0 5px;
  font-size: 30px;
}

.banner {
  font-size: 30px;
}

.banner--image {
  width: 100%;
  height: 100px;
}

.notfound {
  font-size: 30px;
  color: red;
}