.post_campaign--input
{
    display: block;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.postcampaign_createform_size {
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 15%;
    width: 80%;
    height: 85%;
}

/* .pop_up_inner_header {
    : center;
} */

.pop_up_inner_body {
    padding: 20px;
}

.left_border {
    width: 55%;
    float: left;
    margin-left: 2%;
    border-radius: 5px solid black;
    background-color: #f2f2f2;
}

.post_campaign--left-form {
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right_border {
    float: right;
    width: 40%;
    border-radius: 5px;
    margin-left: 2%;
}

.post_campaign--right-form {
    margin-left: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pop_up_inner_footer {
    clear: both;
}

.vertical_line {
    width: 0px; /* Use only border style */
    height: 100%;
    float: left; 
    border: 1px inset; /* This is default border style for <hr> tag */
  }

.x_post_campaign {
    width: 100%;
    margin: 30px;
}

.x_post_campaign_body {
    margin-left: 20px;
}

.x_post_campaign--input {
    display: block;
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}