.contents-margin {
    margin-top: 110px;
}

#body {
    width: 1200px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    min-height: 750px;
}

.nav-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    z-index: 10000;
    height: 30px;
    padding: 0 0 20px 0;
    -webkit-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.nav-af-inner {
    width: 100%;
	margin: 0 auto;
}